:root {
  --brandColor: hsl(166, 67%, 51%);
  --background: rgb(54, 54, 54);
  --textDark: hsla(0, 0%, 0%, 0.66);
  --textLight: hsla(0, 0%, 0%, 0.33);
}

html {
  overflow-y: auto !important;
}

body {
  background: var(--background);
  height: 100%;
  color: var(--textDark);
}

.text-break {
  word-break: break-word;
}
